
<!-- se crea con ayuda de primeNg un formulario el cual contendra una entrada de tipo numero
    se observa que tiene un id,su formcontrol para obtener los valores ingresados en ts
    un keyup para que no tengamos un boton y solo con dar enter se ingrese el valor
    un min para que no pueda ser menor que 1 valor
    y finalmente iun change para estar observando cuando eliminemos el valor ingresado -->

<div class="card flex justify-content-center">
    <form [formGroup]="formGroup">
          <span class="p-float-label">
            <p-inputNumber 
            inputId="integeronly" 
            formControlName="valor"
            (keyup.enter)="introducirValor()"
            [min]="1"
            (ngModelChange)="actualizarResultado()"></p-inputNumber>
            <label htmlFor="number-input">Ingrese el valor</label>
        </span>
    </form>
    <p *ngIf="!formGroup.valid" class="mensaje">Debes de ingresar un valor</p>
    <p *ngIf="formGroup.valid">serie({{formGroup.get('valor')?.value}}) = ( 2 * primo( {{formGroup.get('valor')?.value}} ) * triangular( {{formGroup.get('valor')?.value}} ) ) / fibonacci( {{formGroup.get('valor')?.value}} )</p>
</div>